body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            background-color: black;
        }
       
        video {
            position: fixed;
            width: 95%;
            height: auto;
            object-fit: cover; /* Ajusta el video para cubrir el área */
            position: absolute;
            border: 30px solid rgba(0,0,0,0.2);
          
        }
        nav {
            position: absolute;
            align-items: center;
            top: 20px;
            transform: translateX(-50%);
            background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el menú */
            border-radius: 8px;
            padding: 20px 703px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 15px;

        }
        ul li {
            display: inline;
        }
        ul li a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            transition: color 0.3s;
        }
        ul li a:hover {
            color: #007BFF;
        }